body {
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
}
.pd-0 {
    padding: 0px !important;
}
.main-title {
    font-size: 16px;
    margin: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
#map img {
    width: 100%;
    height: 650px;
}

.panel-body {
    height: 580px;
    overflow-y: scroll;
}

.panel-qld {
    border: none !important;
    
}

.panel.panel-default > .panel-heading {
    background: green;
    color: #fff;
    border-radius: 0px;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.table thead tr {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}