body {
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
}
.pd-0 {
    padding: 0px !important;
}
.table thead tr {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}
.main-title {
    font-size: 16px;
    margin: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
#map img {
    width: 100%;
    height: 650px;
}

.panel-body {
    height: 580px;
    overflow-y: scroll;
}

.panel-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: transparent;
}

.panel-body::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.panel-body::-webkit-scrollbar-thumb {
    background-color: #5cb85c;
}

.panel-qld {
    border: none !important;
    
}

.panel.panel-default > .panel-heading {
    background: green;
    color: #fff;
    border-radius: 0px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding-left: 0px;
}

/* KHUNG SEARCH */
#header {
    max-width: 560px;
    position: absolute;
    left: 10px;
    right: 10px;
    margin: 0 auto;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    top: 10px;
}
.col-search-left {
    width: calc(100% - 102px);
    text-align: left;
}
    .col-search-left #address {
        float: left;
        margin-left: 5px;
        width: calc(100% - 60px);
    }

.col-search-left label{
    margin-bottom: 0px;
    margin-top: 2px;
}
/* END KHUNG SEARCH */

/* MODAL */
#modal-quanlydiem .modal-title {
    text-transform: uppercase;
    margin-top: 5px;
}

#modal-quanlydiem .modal-header {
    padding: 12px 15px;
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

#modal-quanlydiem .modal-content {
    overflow: hidden;
}

#modal-quanlydiem .modal-header .close {
    border-radius: 50%;
    border: 1px solid #fff;
    height: 34px;
    width: 34px;
    font-size: 22px;
    color: #fff;
    outline: none;
    opacity: 1;
    box-shadow: 0 0 0;
    font-weight: normal;
}

#modal-quanlydiem .modal-footer {
    padding: 12px 15px;
}
/* END MODAL */